{% assign subdir = include.dir | append: '/small/' | prepend: '/' %}
{% assign images = site.static_files | where: "image", true %}
{% assign id = include.dir | replace: '/', '-' | prepend: 'gallery-' %}

<div class="gallery" id="{{ id }}">
{%- for image in images -%}
  {%- unless image.path contains subdir -%}
    {% continue %}
  {%- endunless -%}

  {% assign dimensions = image.path
    | split: '-'
    | last
    | replace: '.png', ''
    | replace: '.webp', ''
    | replace: '.gif', ''
    | split: 'x' %}
  <a href="{{ image.path | replace: '/small/', '/' }}"
    data-pswp-width="{{ dimensions[0] | divided_by: 2 }}"
    data-pswp-height="{{ dimensions[1] | divided_by: 2 }}"
    data-cropped="true"
    target="_blank">
    <img alt=""
      {% unless include.lazy == false %}
        loading="lazy"
      {% endunless %}
      src="{{ image.path }}"
      width="{{ include.width }}"
      height="{{ include.height }}"/>
  </a>
{%- endfor %}
</div>

<script type="module">
  import BreezeLightbox from '/assets/gallery.js';

  new BreezeLightbox('#{{ id }}');
</script>
