<meta charset="utf-8">
<title>Breeze {% if page.parent_title %}| {{ page.parent_title }}{% endif %} | {{ page.title }}</title>
<meta name="description" content="{% if page.description %}{{ page.description | strip_newlines }}{% else %}{{ site.description }}{% endif %}">
{% if page.keywords %}<meta name="keywords" content="{{ page.keywords | strip_newlines }}">{% endif %}
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover"/>
<meta name="theme-color" content="#ffffff">
<link rel="icon" href="{{ '/favicon.ico' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/favicon-apple.png' | relative_url }}">
<link rel="manifest" href="{{ '/manifest.json' | relative_url }}">
{%- if page.gallery == true %}
<link type="text/css" rel="stylesheet" href="{{ '/assets/lib/photoswipe/photoswipe.css?v=1' | relative_url }}" />
{%- endif %}
{%- if page.search == true %}
<script src="{{ '/assets/lib/list.min.js' | relative_url }}" defer></script>
{%- endif %}
<link rel="stylesheet" href="{{ '/assets/dist/styles.css?v=20' | relative_url }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"/>
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3" defer></script>
<script src="{{ '/assets/lib/anchor.min.js' | relative_url }}" defer></script>
<script src="{{ '/assets/lib/gumshoe.min.js' | relative_url }}" defer></script>
<script src="{{ '/assets/scripts.js?v=7' | relative_url }}" defer></script>

{%- unless site.url contains "localhost" %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5HLVK26JBW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-5HLVK26JBW');
</script>

<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '305215493166947');
</script>

<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?4Bl3lBzwHynYqysA9VFQUNiqbEjk4T0W";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->
{%- endunless %}
