.home {
    .container {
        max-width: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .prose {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    svg {
        margin: 2rem 0;
        transform: scale(1.5);
        @media (min-width: 640px) {
            margin-top: 4rem;
        }
    }

    .subtitle {
        margin: .25rem 0;
        opacity: .85;
        font-size: 1.375rem;
        font-weight: normal;
    }

    .features {
        text-align: left;
        margin: 3rem 0;
        padding: 1.25rem 2rem;
        border: 3px solid #444;
        border-radius: .75rem;
        li {
            padding-left: 1rem;
            + li {
                margin-top: .15rem;
            }
            &::before {
                width: 0.25rem;
                height: 0.25rem;
                left: .25rem;
            }
        }
    }

    .flex {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .button {
        padding: .75rem 2rem;
        border: 1px solid #e5e7eb;
        border-radius: .375em;
        white-space: nowrap;
    }
}
