<!doctype html>
<html lang="en">
  <head>
    {%- include head.html -%}
  </head>
  <body class="text-zinc-800 {%- if page.body %} {{ page.body }} {%- endif -%}">
    <a href="#main" class="skip-to-content">Skip to Content</a>
    <header class="max-w-7xl mx-auto p-4 sm:px-6 sm:py-5 md:px-8 md:py-6 lg:py-8">
      <nav class="flex items-center gap-3">
        <a class="rounded-full md:w-14 md:overflow-hidden lg:w-auto shrink-0" href="{{ '/' | relative_url }}" aria-label="Home">
          {%- include logo-round.svg -%}
        </a>

        {%- include navigation.html -%}
        <div data-search></div>
      </nav>
    </header>

    <main id="main" class="max-w-7xl mx-auto p-4 sm:px-6 sm:py-5 md:px-8 md:py-6 lg:py-8">
      {%- if page.class %} <div class="{{ page.class }}"> {% endif %}
      {{ content }}
      {%- if page.class %} </div> {% endif %}
    </main>

    <footer class="max-w-7xl mx-auto p-8">
      <ul class="flex items-center justify-center gap-1 lg:gap-3">
        <li><a class="flex px-3 py-1.5 text-zinc-600 hover:text-zinc-800" href="https://github.com/breezefront/community/discussions" target="_blank" rel="noopener">Support</a></li>
        <li><a class="flex px-3 py-1.5 text-zinc-600 hover:text-zinc-800" href="https://github.com/breezefront" target="_blank" rel="noopener">GitHub</a></li>
        <li><a class="flex px-3 py-1.5 text-zinc-600 hover:text-zinc-800" href="https://twitter.com/breezefront" target="_blank" rel="noopener">Twitter</a></li>
      </ul>
    </footer>

    {%- include before-body-end.html -%}
  </body>
</html>
