<!doctype html>
<html lang="en">
  <head>
    {%- include head.html -%}
  </head>
  <body class="docs antialiased {%- if page.body %} {{ page.body }} {%- endif -%}">
    <a href="#main" class="skip-to-content">Skip to Content</a>
    <div class="max-w-7xl flex flex-col md:flex-row mx-auto">
      <aside class="flex items-center p-4 md:p-0 md:items-stretch md:flex-col md:h-[100dvh] md:sticky md:top-0 md:left-0 md:w-64 lg:w-72 xl:w-80">
        <div class="md:p-5 md:pb-3 lg:p-8 lg:pb-3">
          <a class="rounded-full inline-block align-top" href="{{ 'docs/installation' | relative_url }}" aria-label="Home">
            {%- include logo-round.svg -%}
          </a>
        </div>
        {% include docs/navigation.html %}
      </aside>
      <main id="main" class="prose prose-zinc overflow-auto w-full max-w-none md:max-w-[70ch] 2xl:max-w-[80ch] p-4 pb-0 sm:pt-5 md:px-8 md:pt-7 lg:pt-9">
        <div class="-mt-2 mb-3 sm:-mx-1 sm:-mt-3 md:m-0 md:mt-1 md:ml-2 h-9 relative z-10" data-search></div>
        {{ content }}
        {%- if page.pagination != false %}
          {%- include docs/pagination.html %}
        {%- endif %}
      </main>
    </div>

    {%- include before-body-end.html -%}
  </body>
</html>
